{% extends 'layout.twig'%}

{% block body %}
    <div class="flex flex-wrap">
        {% for show in docs %}
            <div class="w-1/3 p-5">
                <div class="bg-indigo-200 rounded-lg hover:shadow-2xl p-3">
                    {% for q,a in show.data %}
                        {% if a.preview %}

                            {% if a.data is iterable and a.data|length > 1%}
                                <p>{{ q }}:</p>
                                <ul>
                                    {% for i in a.data %}
                                        <li class="ml-2">{{ i }}</li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p>{{ q }}: {{ a.data }}</p>
                            {% endif %}

                        {% endif %}

                    {% endfor %}
                    <a href="/view_show/{{ show._id }}" class="text-blue-500 underline">View Show</a>
                </div>

            </div>
        {% endfor %}


    </div>
{% endblock %}

{% block script %}

{% endblock %}
